blinker==1.6.2
certifi==2023.11.17
click==8.1.3
ephem==4.1.5
Flask==2.3.2
Flask-Minify==0.42
gunicorn==20.1.0
htmlmin==0.1.12
importlib-metadata==6.7.0
itsdangerous==2.1.2
Jinja2==3.1.2
jplephem==2.21
jsmin==3.0.1
lesscpy==0.15.1
MarkupSafe==2.1.3
numpy==1.26.3
ordotools==0.0.41
ply==3.11
python-dateutil==2.8.2
rcssmin==1.1.1
sgp4==2.23
six==1.16.0
skyfield==1.46
Werkzeug==2.3.6
xxhash==3.2.0
zipp==3.15.0
