@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;1,100;1,400&display=swap');

* {
  min-width: 0;
  margin: 0;
}

:root {
  --white: #FFFFFF;
  --green: #2E7D32;
  --red: #E53935;
  --purple: #9C27B0;
  --pink: #F8BBD0;
  --black: #000000;
  --fasting: #E1BEE7;
  --background: #BDBDBD;
  --foreground: #000000;
  --border-width: .5px;
  --border-compensation: calc(var(--border-width) * 2 * 6);
  --header-height: 5vh;
  --calendar-height: calc(100vh - var(--header-height) - var(--border-compensation));
}

body {
  font-family: Arial, sans-serif;
}

main {
  font-family: 'Noto Sans', sans-serif;
  background: black;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  flex-grow: 1;
}

header {
  background-color: white;
  top: 0;
  height: var(--header-height);
  color: var(--foreground);
  padding-top: 1em;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: solid 1px gray;
}

#dynamicMonth {
  padding-left: 1em;
}

.weekdays {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: .25em;
  padding-bottom: 0;
  font-size: 10px;
  font-weight: bold;
  color: #888;
}

/*** CALENDAR STYLING ***/

.calendar {
  background: var(--background);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.month {
  scroll-snap-align: start;
  min-height: calc(var(--calendar-height));
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.five-weeks {
  margin-bottom: calc(-2 * (var(--calendar-height) / 6));
}

.six-weeks {
  margin-bottom: calc(-1 * (var(--calendar-height) / 6));
}

/* .snapper { */
/*   scroll-snap-align: start; */
/* } */

.day {
  border: var(--border-width) solid darkgrey;
  background: var(--background);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  transition: background 50ms;
}

.border-top {
  border-top: .5px solid black;
}
.border-bottom {
  border-bottom: .5px solid black;
}
.border-end {
  border-right: .5px solid black;
}
.border-front {
  border-left: .5px solid black;
}

/*** FEAST DAY STYLING ***/

.current-month > div.day {
  background: white;
}

.day-number {
  width: 100%;
  padding: .5em;
  font-size: 18px;
}

.hidden-info {
  display: block;
  font-size: 0pt;
  height: 0;
  width: 0;
}

.feast {
  padding: .5em;
  width: 100%;
}

.rank {
  font-weight: light;
  font-size: .75em;
}

.rank:before {
  content: ' ';
  display: block;
}

.feast-status {
  width: 100%;
  height: calc(2em - 3px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.color-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.color {
  display: block;
  height: 1em;
  width: 1em;
  border: .5px solid black;
  border-radius: 50%;
  margin-left: .5em;
}

.white {
  background: var(--white);
}

.green {
  background: var(--green);
}

.red {
  background: var(--red);
}

.purple {
  background: var(--purple);
}

.pink {
  background: var(--pink);
}

.black {
  background: var(--black);
}

.moon {
  display: block;
  height: 1em;
  padding-right: .5em;
}

.today-bar {
  display: block;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: none;
}

span.today {
  font-weight: bold;
}

.today {
  background: #FFF9C4!important;
}

.today > div.feast-status > .today-bar {
  background: orange!important;
}

@media (max-width: 500px) {
  .calendar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
  }

  .calendar div.day {
    width: calc(100% - 1px);
    min-height: calc(100% / 5)!important;
  }

  .weekdays {
    display: none;
  }

  .day {
    scroll-snap-align: middle;
  }

  .snapper {
    scroll-snap-align: unset;
  }
}
