<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ title }} | Ordo.media</title>
        <!-- <script type="text/javascript" src="https://livejs.com/live.js"></script> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
    {% block scripts %}{% endblock scripts %}
</html>
