{% extends "base.html" %}
{% block content %}
<main>
    <header id="calendarTitle">
        <div id="dynamicMonth">
            <b>{{month}}</b> {{year}}
        </div>
        <div class="weekdays">
            <span>Sunday</span> <span>Monday</span> <span>Tuesday</span> <span>Wednesday</span> <span>Thursday</span> <span>Friday</span> <span>Saturday</span> </div>
    </header>
    <div id="calendar" class="calendar"></div>
</main>
{% endblock content %}

{% block scripts %}
<script>
localStorage.setItem("scriptRoot", JSON.stringify({{ request.script_root|tojson }}));
localStorage.setItem("data", JSON.stringify({{ data|tojson }}));
</script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock scripts %}

