{% extends "base.html" %}
{% block content %}
<main>
    <header id="calendarTitle">
        <div>
            <div id="dynamicMonth">
                <b>{{month}}</b> {{year}}
            </div>
            <div class="warning">
                ⚠ Warning! This calendar is running ordotools v0.0.30-alpha, a
                software still in development. There are known inaccuracies.
            </div>
        </div>
        <div class="weekdays">
            <span>Sunday</span> <span>Monday</span> <span>Tuesday</span> <span>Wednesday</span> <span>Thursday</span> <span>Friday</span> <span>Saturday</span> </div>
    </header>
    <div id="calendar" class="calendar"></div>
</main>
{% endblock content %}

{% block scripts %}
<script defer>
localStorage.setItem("scriptRoot", JSON.stringify({{ request.script_root|tojson }}));
localStorage.setItem("data", JSON.stringify({{ data|tojson }}));
</script>
<script src="{{ url_for('static', filename='main.js') }}" defer></script>
{% endblock scripts %}

