<div class="details" id="details">
    <div class="details_date">___-__-__</div>
    <p>Feast:</p>
    <div class="details_feast">...</div>
    <p>Rank:</p>
    <div class="details_rank">...</div>
    <p>Color:</p>
    <div class="details_color">...</div>
    <p>Commemoration:</p>
    <div class="details_com_1">...</div>
    <div class="details_com_2">...</div>
    <div class="details_com_3">...</div>
    <div class="details_"></div>
    <div class="details_"></div>
    <div class="details_"></div>
</div>
